/*Blue: #65def1 (101, 222, 241)*/
/*Yellow: #ffffb3 (255, 255, 179)*/
/*Light Grey: #293132 (41, 49, 50)*/
/*Dark Grey: #020b22 (2, 11, 34)*/
/*Maroon: #5f0f40 (95, 15, 64)*/
/*Purple: #B18FF0 (177, 143, 240)*/
/*In-Between: #D8A178 216, 161, 120*/
/*Orange: #FFB400 (255, 180, 0)*/
/*Light Orange: #CBA64E (203, 166, 78)*/
/*Grey-Green-Blue: #077D93 (7, 125, 147)*/
/*Mauve: #682B5E (104, 43, 94)*/
/*Deep Purple: #1E1454 (30, 20, 84)*/
/*Plum: #521E6A (82, 30, 106)*/
/*Teal: #00D79B (0, 215, 155)*/
/*Forest Green: #03323B (3, 50, 59)*/
#bootstrap-overrides {
  background-image: url("../images/background.png");
  background-attachment: fixed;
  color: #FFB400;
  font-family: 'Open Sans Condensed', sans-serif;
}
#bootstrap-overrides a {
  text-decoration: none;
  color: #B18FF0;
}
#bootstrap-overrides a:hover {
  text-decoration: none;
  color: #00D79B;
}
#bootstrap-overrides p {
  color: #CBA64E;
  font-weight: 800;
}
#bootstrap-overrides nav a {
  color: #B18FF0;
}
#bootstrap-overrides .navbar {
  background-color: rgba(2, 11, 34, 0.8);
  border: rgba(2, 11, 34, 0.8);
}
#bootstrap-overrides .navbar a {
  font-size: 2em;
}
#bootstrap-overrides .navbar-brand {
  color: #fff;
}
#bootstrap-overrides .navbar-brand img {
  height: 100%;
}
#bootstrap-overrides .navbar-default .navbar-nav > .active > a {
  background-color: rgba(0, 215, 155, 0.8);
  color: #020b22;
}
#bootstrap-overrides .navbar-default .navbar-toggle {
  border-color: transparent;
}
#bootstrap-overrides .navbar-default .navbar-toggle .icon-bar {
  background-color: #B18FF0;
}
#bootstrap-overrides .navbar-default .navbar-toggle:hover,
#bootstrap-overrides .navbar-default .navbar-toggle:focus {
  background-color: rgba(0, 215, 155, 0.8);
}
#bootstrap-overrides .navbar-default .navbar-toggle:hover .icon-bar,
#bootstrap-overrides .navbar-default .navbar-toggle:focus .icon-bar {
  background-color: #020b22;
}
#bootstrap-overrides .navbar-default .navbar-collapse,
#bootstrap-overrides .navbar-default .navbar-form {
  border-color: #521E6A;
}
#bootstrap-overrides .dropdown-toggle:focus {
  background-color: transparent;
}
#bootstrap-overrides .dropdown-menu {
  background-color: rgba(2, 11, 34, 0.9);
  border: none;
  text-align: center;
}
#bootstrap-overrides .dropdown-menu li a {
  font-size: 1.5em;
}
#bootstrap-overrides .dropdown-menu li > a:hover {
  background-color: transparent;
  color: #00D79B;
}
#bootstrap-overrides .dropdown-menu li.active a {
  background-color: transparent;
  color: #FFB400;
}
#bootstrap-overrides .dropdown-menu li.active a:hover {
  background-color: transparent;
  color: #FFB400;
  pointer-events: none;
}
#bootstrap-overrides .dropdown-menu i {
  font-size: 0.85em;
  color: #EAE2D4;
}
#bootstrap-overrides .gifme {
  cursor: pointer;
}
#bootstrap-overrides .gifdiv {
  background-color: #020b22;
  background: center center no-repeat;
  height: 80%;
  width: 80%;
  position: fixed;
  top: 10%;
  left: 10%;
  border-radius: 10px;
  z-index: 10;
}
#bootstrap-overrides .gifdiv i {
  color: #B18FF0;
  position: absolute;
  top: 15px;
  right: 15px;
}
#bootstrap-overrides .gifdiv i:hover {
  color: #00D79B;
}
#bootstrap-overrides .jumbotron {
  margin-top: 8%;
  background-color: rgba(2, 11, 34, 0.7);
  text-align: center;
}
#bootstrap-overrides .jumbotron h1 {
  margin-top: 0;
  font-family: 'Covered By Your Grace', serif;
}
#bootstrap-overrides .jumbotron .welcome {
  font-size: 6em;
  font-family: 'Covered By Your Grace', serif;
}
#bootstrap-overrides .jumbotron #projects {
  width: 100%;
  min-height: 45vw;
  position: relative;
  margin: auto;
  display: inline-block;
}
#bootstrap-overrides .jumbotron #projects div {
  border-radius: 3px;
}
#bootstrap-overrides .jumbotron #projects div:hover .overlay {
  border-radius: 0;
}
#bootstrap-overrides .jumbotron .insta,
#bootstrap-overrides .jumbotron .twitterbot,
#bootstrap-overrides .jumbotron .chrome,
#bootstrap-overrides .jumbotron .tictactoe {
  position: absolute;
  width: 49%;
  height: 21.5vw;
  cursor: pointer;
}
#bootstrap-overrides .jumbotron .insta p,
#bootstrap-overrides .jumbotron .twitterbot p,
#bootstrap-overrides .jumbotron .chrome p,
#bootstrap-overrides .jumbotron .tictactoe p {
  visibility: hidden;
}
#bootstrap-overrides .jumbotron .insta:hover,
#bootstrap-overrides .jumbotron .twitterbot:hover,
#bootstrap-overrides .jumbotron .chrome:hover,
#bootstrap-overrides .jumbotron .tictactoe:hover {
  border: 8px solid #020B22;
}
#bootstrap-overrides .jumbotron .insta:hover .overlay,
#bootstrap-overrides .jumbotron .twitterbot:hover .overlay,
#bootstrap-overrides .jumbotron .chrome:hover .overlay,
#bootstrap-overrides .jumbotron .tictactoe:hover .overlay {
  /*background-color: rgba(2, 11, 34, 0.3);*/
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 4px 4px 10px #020B22;
}
#bootstrap-overrides .jumbotron .insta:hover p,
#bootstrap-overrides .jumbotron .twitterbot:hover p,
#bootstrap-overrides .jumbotron .chrome:hover p,
#bootstrap-overrides .jumbotron .tictactoe:hover p {
  font-family: 'Covered By Your Grace', serif;
  font-size: 3em;
  visibility: visible;
  text-shadow: 2px 2px #00D79B;
  color: #020B22;
  padding-top: 20%;
}
#bootstrap-overrides .jumbotron .insta {
  background-image: url("../images/desktop.png");
  background-size: 100%;
  top: 0;
  left: 0;
}
#bootstrap-overrides .jumbotron .twitterbot {
  background-image: url("../images/twitterbot.png");
  background-size: 100%;
  top: 0;
  right: 0;
}
#bootstrap-overrides .jumbotron .chrome {
  background-image: url("../images/graph.png");
  background-size: 100%;
  bottom: 0;
  left: 0;
}
#bootstrap-overrides .jumbotron .tictactoe {
  background-image: url("../images/ttt.png");
  background-size: 100%;
  bottom: 0;
  right: 0;
}
#bootstrap-overrides .jumbotron .overlay {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: rgba(2, 11, 34, 0.5);
  z-index: 10;
}
#bootstrap-overrides .info {
  width: 100%;
  min-height: 30vw;
}
#bootstrap-overrides .info h1,
#bootstrap-overrides .info h2 {
  font-family: 'Covered By Your Grace', serif;
}
#bootstrap-overrides .info h2 {
  font-size: 2.5em;
  margin-top: 0;
}
#bootstrap-overrides .info .me {
  width: 25%;
  margin: 10px;
  float: left;
  border-radius: 6px;
}
#bootstrap-overrides .info .about {
  margin-left: 27%;
  width: 73%;
}
#bootstrap-overrides .contact {
  height: 40%;
  width: 84%;
  margin: auto;
  display: -webkit-flex;
}
#bootstrap-overrides .contact a {
  text-decoration: none;
  color: #B18FF0;
  font-size: 2em;
  font-family: 'Covered By Your Grace', serif;
}
#bootstrap-overrides .contact a:hover {
  text-decoration: none;
  color: #00D79B;
}
#bootstrap-overrides .contact .git,
#bootstrap-overrides .contact .twit,
#bootstrap-overrides .contact .linked,
#bootstrap-overrides .contact .mail {
  flex: 1;
  width: 24%;
  position: relative;
  display: inline-block;
}
#bootstrap-overrides .links {
  font-size: 1.5em;
}
#bootstrap-overrides .panel {
  background-color: #020b22;
  border-radius: 0;
}
#bootstrap-overrides .panel-group {
  word-wrap: break-word;
}
#bootstrap-overrides .panel-group .panel:first-child {
  border-radius: 6px 6px 0 0;
}
#bootstrap-overrides .panel-group .panel:last-child {
  border-radius: 0 0 6px 6px;
}
#bootstrap-overrides .panel-group .panel + .panel {
  margin-top: 0;
}
#bootstrap-overrides .panel-group i,
#bootstrap-overrides .panel-group .panel-body {
  transition-duration: 200ms;
}
#bootstrap-overrides .panel-group .down {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
}
#bootstrap-overrides .panel-default > .panel-heading {
  background-color: transparent;
}
#bootstrap-overrides .well {
  display: inline-block;
  text-align: left;
  padding-left: 15px;
  font-family: courier;
  min-width: 40%;
  max-width: 100%;
  overflow: auto;
  position: relative;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.95);
  color: #837489;
  word-wrap: normal;
}
#bootstrap-overrides .well .bl {
  color: #028AE3;
}
#bootstrap-overrides .well .gr {
  color: #00D79B;
}
#bootstrap-overrides .well .pr {
  color: #D500FA;
}
#bootstrap-overrides .well .yw {
  color: #FAB000;
}
#bootstrap-overrides .well .dk {
  color: #020B22;
}
#bootstrap-overrides .well .or {
  color: #FFB400;
}
#bootstrap-overrides .well .lb {
  color: #72C0BA;
}
#bootstrap-overrides .tab {
  margin-left: 25px;
}
#bootstrap-overrides .code {
  font-family: courier;
  color: #fff;
}
#bootstrap-overrides .ttt {
  width: 75%;
  height: 600px;
  border-radius: 8px;
  border: 1px solid #FFB400;
}
#bootstrap-overrides .tabber img,
#bootstrap-overrides .mismatch img {
  height: 27vw;
  width: auto;
  border-radius: 6px;
  border: 2px solid #FFB400;
  margin: 5px;
}
#bootstrap-overrides .tweets {
  background-color: rgba(255, 180, 0, 0.7);
  padding: 10px;
  border-radius: 10px;
  width: 80%;
  height: 350px;
  position: relative;
  margin: auto;
}
#bootstrap-overrides .tweets #timeline {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  padding: 0;
  margin: 0;
  overflow-y: auto;
}
#bootstrap-overrides .tweets #timeline p {
  color: #521E6A;
}
#bootstrap-overrides .tweets a {
  text-decoration: none;
}
#bootstrap-overrides .tweets a:hover {
  color: #521E6A;
}
#bootstrap-overrides .tweets ul {
  border-radius: 6px;
  padding: 0px;
  width: 97%;
  height: 87.5%;
  list-style: none;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  left: 1.5%;
  top: 10%;
  overflow-y: auto;
}
#bootstrap-overrides .tweets li {
  padding-top: 3px;
  position: relative;
  width: 100%;
  margin: 0px 0px 2px;
  border-bottom: 1px solid #FFB400;
  height: 6em;
}
#bootstrap-overrides .tweets li:last-child {
  border-bottom: none;
}
#bootstrap-overrides .tweets .user {
  width: 10%;
  position: absolute;
  height: 100%;
}
#bootstrap-overrides .tweets .user .pic {
  position: absolute;
  left: 7%;
  height: 90%;
  width: 90%;
}
#bootstrap-overrides .tweets .user .pic img {
  height: 75%;
  border-radius: 2px;
  margin-top: 15%;
}
#bootstrap-overrides .tweets .user .twitter {
  position: absolute;
  left: 100%;
  white-space: nowrap;
  padding-left: 10%;
}
#bootstrap-overrides .tweets .user .twitter b {
  color: #B18FF0;
}
#bootstrap-overrides .tweets .user .twitter a:hover b {
  color: #521E6A;
}
#bootstrap-overrides .tweets .tweet {
  width: 80%;
  height: 93%;
  padding-top: 3%;
  position: absolute;
  left: 10%;
  padding-left: 5%;
  border-right: 1px solid #521E6A;
}
#bootstrap-overrides .tweets .tweet p {
  font-size: 1.1em;
}
#bootstrap-overrides .tweets .tweet .act {
  position: absolute;
  bottom: 3%;
  right: 2%;
}
#bootstrap-overrides .tweets p {
  margin: 0;
}
#bootstrap-overrides .tweets .timePosted {
  width: 10%;
  height: 100%;
  font-size: 0.9em;
  margin-top: 2%;
  position: absolute;
  right: 0;
}
@media (max-width: 991px) {
  #bootstrap-overrides .container {
    width: 90%;
  }
  #bootstrap-overrides .jumbotron {
    margin-top: 11%;
    width: 100%;
  }
  #bootstrap-overrides .jumbotron .tweets {
    width: 90%;
  }
  #bootstrap-overrides .jumbotron .tweets li .user .twitter {
    padding-left: 30%;
    font-size: 85%;
  }
  #bootstrap-overrides .jumbotron .tweets .tweet p {
    font-size: 0.9em;
  }
  #bootstrap-overrides .jumbotron .tweets .timePosted {
    font-size: 0.8em;
    margin-top: 3%;
  }
}
@media (max-width: 767px) {
  #bootstrap-overrides nav li {
    text-align: center;
  }
  #bootstrap-overrides .jumbotron {
    margin-top: 11%;
  }
  #bootstrap-overrides .jumbotron li .user .twitter {
    padding-left: 45%;
  }
  #bootstrap-overrides .jumbotron li .tweet p {
    font-size: 90%;
  }
  #bootstrap-overrides .jumbotron li .timePosted {
    font-size: 85%;
  }
  #bootstrap-overrides .ttt {
    width: 100%;
  }
  #bootstrap-overrides .tabber .narrow,
  #bootstrap-overrides .mismatch .narrow {
    width: 50%;
    height: auto;
  }
  #bootstrap-overrides .tabber .wide,
  #bootstrap-overrides .mismatch .wide {
    width: 75%;
    height: auto;
  }
}
@media (max-width: 650px) {
  #bootstrap-overrides .navbar {
    background-color: rgba(2, 11, 34, 0.85);
  }
  #bootstrap-overrides .navbar a {
    font-size: 1.5em;
    font-weight: bold;
  }
  #bootstrap-overrides .jumbotron {
    margin-top: 20%;
  }
  #bootstrap-overrides .jumbotron .welcome {
    font-size: 4.5em;
  }
  #bootstrap-overrides .jumbotron #projects .insta,
  #bootstrap-overrides .jumbotron #projects .twitterbot,
  #bootstrap-overrides .jumbotron #projects .chrome,
  #bootstrap-overrides .jumbotron #projects .tictactoe {
    position: relative;
    top: 0;
    width: 100%;
    display: inline-block;
    height: 45vw;
    margin-top: 5px;
  }
  #bootstrap-overrides .jumbotron .contact a {
    font-size: 1em;
  }
  #bootstrap-overrides .jumbotron h1 {
    text-align: center;
  }
  #bootstrap-overrides .jumbotron .info {
    display: inline-block;
  }
  #bootstrap-overrides .jumbotron .info .me {
    width: 35%;
    margin-top: 0;
    margin-right: 2%;
  }
  #bootstrap-overrides .jumbotron li .user {
    left: -9%;
    font-size: 80%;
  }
  #bootstrap-overrides .jumbotron li .user .pic {
    display: none;
  }
  #bootstrap-overrides .jumbotron .tweet {
    width: 95%;
    margin: auto;
    border-right: none;
    left: 2.5%;
    padding-top: 6%;
    font-size: 0.8em;
  }
  #bootstrap-overrides .jumbotron .tweet .act {
    right: 2%;
    bottom: 2%;
  }
  #bootstrap-overrides .jumbotron #timeline .timePosted {
    margin-top: 0;
    width: 100%;
    top: 75%;
  }
}
